<div class="background" id="bg"> 
  <!-- navbar--> 
  <div class="" id="nav">
  <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="isMenuCollapsed = true" 
      (click)="changeButtonColor(0)"
      routerLink="/" routerLinkActive="active">USC Films</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active"
            (click)="isMenuCollapsed = true"
           (click)="changeButtonColor(0)"
           [className]="HomeClass"
            >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mylist" routerLinkActive="active" 
           (click)="isMenuCollapsed = true"
           (click)="changeButtonColor(1)" >My List</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input name="search-form" id="typeahead-http" type="text" class="form-control mx-sm-3" 
          [class.is-invalid]="searchFailed" [(ngModel)]="model" 
          [ngbTypeahead]="search" placeholder="search"
          [resultTemplate]="rt"
          [inputFormatter]="inputFormatBandListValue"
          (selectItem)="onSelect($event)" />
      
          <ng-template #rt let-r="result" let-t="term">
            <div routerLink="/watch/{{r.type}}/{{r.id}}">
            <img [src]="r.img" class="search-img">
            <ngb-highlight class="search-title" [result]="r.title" [term]="t"></ngb-highlight>
            </div>
          </ng-template>
      </form>
    </div>
  </div>
  </nav>
 
  </div> <!-- -->

</div>



<router-outlet></router-outlet>
