.bg {
    min-height: 100vh;
}

.title {
    color: white;
    font-size: 41px;
    padding-left: 3.5%;
    padding-bottom: 1.5rem;
}

.placeholder {
    height: 10rem;
}

.footer {
    padding: .8em 0;
    text-align: center;
    background: linear-gradient(to top, rgb(10, 10, 10), rgba(255,255,255,0));
}
.text-muted {
    color: #f2f2f2 !important;
    font-size: 14px;
}